In [12]:
import pandas as pd
import webbrowser

In [2]:
df = pd.read_csv('all_cars.csv')
df = df.drop_duplicates()

In [3]:
df.head()

,posting_url,post_title,price,year_make_model,year,make,model,trim
0,https://sanantonio.craigslist.org/cto/d/san-an...,2007 Cadillac Escalade ESV,8000,2007 Cadillac Escalade,2007,cadillac,escalade,ESV
1,https://sanantonio.craigslist.org/cto/d/san-an...,2007 GMC Yukon,6000,2007 GMC Yukon,2007,gmc,yukon,NaN
2,https://sanantonio.craigslist.org/cto/d/san-an...,2019 Dodge Charger R/T,29000,2019 Dodge Charger,2019,dodge,charger,R/T
3,https://sanantonio.craigslist.org/cto/d/san-an...,2016 GMC Sierra,22500,2016 GMC Sierra,2016,gmc,sierra,NaN
4,https://sanantonio.craigslist.org/cto/d/san-an...,2003 gmc Yukon Denali 2500,3800,2003 gmc Yukon,2003,gmc,yukon,Denali 2500

In [4]:
df.make.value_counts().head(40)

ford             678
toyota           396
chevy            390
nissan           270
honda            262
dodge            254
chevrolet        244
jeep             180
gmc              147
bmw              140
hyundai           90
lexus             84
mercedes          82
cadillac          69
ram               68
kia               65
infiniti          58
lincoln           50
subaru            49
chrysler          48
buick             47
mazda             46
volkswagen        44
mustang           39
audi              38
acura             36
vw                34
f250              31
f150              31
porsche           30
silverado         29
mitsubishi        25
pontiac           24
volvo             22
jaguar            21
freightliner      21
mercury           20
scion             18
tesla             18
international     17
Name: make, dtype: int64

In [5]:
ford_fusions = df[(df.make == 'ford') & (df.model == 'fusion')]

In [6]:
df[df.make=='ford'].model.value_counts()

f             165
f150           67
expedition     48
f250           36
focus          35
             ...
coup            1
fusión          1
e350            1
650             1
truck           1
Name: model, Length: 69, dtype: int64

In [7]:
def all_makes(df):
    parent_dict = {}
    for makers in df.make.unique():
        parent_dict[makers] = {}
        
    return parent_dict

def all_models(df, parent_dict):
    for make, model_dict in parent_dict.items():
        for model in df[df.make == make].model.unique():
            model_dict[model] = {}
            
    return parent_dict

def all_years(df, parent_dict):
    for make, model_dict in parent_dict.items():
        for model, year_dict in model_dict.items():
            for year in df[(df.make ==make) & (df.model==model)].year.unique():
                year_dict[year] = {}
                
    return parent_dict

def all_prices(df, parent_dict):
    for make, model_dict in parent_dict.items():
        for model, year_dict in model_dict.items():
            for year, price_dict in year_dict.items():
                price_dict['avg_price'] = df[(df.make == make) & (df.model==model) & (df.year == year)].price.mean()
                price_dict['min_price'] = df[(df.make == make) & (df.model==model) & (df.year == year)].price.min()
                price_dict['max_price'] = df[(df.make == make) & (df.model==model) & (df.year == year)].price.max()
                price_dict['num_vehicles'] = df[(df.make==make)&(df.model==model)&(df.year==year)].price.size

    return parent_dict            
    
more_than_5_vehicles = []

    
parent = all_makes(df)
parent = all_models(df, parent)
parent = all_years(df, parent)
parent = all_prices(df, parent)


for make, model_dict in parent.items():
    for model, year_dict in model_dict.items():
        for year, price_dict in year_dict.items():
            if price_dict['num_vehicles'] > 5:
                more_than_5_vehicles.append({'make': make, 'model': model, 'year': year})

more_than_5_vehicles

[{'make': 'gmc', 'model': 'yukon', 'year': 2007},
 {'make': 'gmc', 'model': 'yukon', 'year': 2013},
 {'make': 'gmc', 'model': 'acadia', 'year': 2012},
 {'make': 'dodge', 'model': 'charger', 'year': 2014},
 {'make': 'dodge', 'model': 'ram', 'year': 2001},
 {'make': 'dodge', 'model': 'ram', 'year': 2002},
 {'make': 'dodge', 'model': 'ram', 'year': 2015},
 {'make': 'dodge', 'model': 'ram', 'year': 2003},
 {'make': 'dodge', 'model': 'ram', 'year': 2012},
 {'make': 'dodge', 'model': 'ram', 'year': 2004},
 {'make': 'dodge', 'model': 'ram', 'year': 2006},
 {'make': 'dodge', 'model': 'ram', 'year': 2007},
 {'make': 'ford', 'model': 'f150', 'year': 2006},
 {'make': 'ford', 'model': 'f150', 'year': 2008},
 {'make': 'ford', 'model': 'f150', 'year': 2011},
 {'make': 'ford', 'model': 'focus', 'year': 2014},
 {'make': 'ford', 'model': 'focus', 'year': 2013},
 {'make': 'ford', 'model': 'f', 'year': 2010},
 {'make': 'ford', 'model': 'f', 'year': 2011},
 {'make': 'ford', 'model': 'f', 'year': 2014},
 {'make': 'ford', 'model': 'f', 'year': 2012},
 {'make': 'ford', 'model': 'f', 'year': 2001},
 {'make': 'ford', 'model': 'f', 'year': 2005},
 {'make': 'ford', 'model': 'f', 'year': 2006},
 {'make': 'ford', 'model': 'f', 'year': 2002},
 {'make': 'ford', 'model': 'f', 'year': 2007},
 {'make': 'ford', 'model': 'f', 'year': 1993},
 {'make': 'ford', 'model': 'f', 'year': 2013},
 {'make': 'ford', 'model': 'f', 'year': 2008},
 {'make': 'ford', 'model': 'f', 'year': 2003},
 {'make': 'ford', 'model': 'f', 'year': 1999},
 {'make': 'ford', 'model': 'expedition', 'year': 2010},
 {'make': 'ford', 'model': 'expedition', 'year': 2012},
 {'make': 'ford', 'model': 'fusion', 'year': 2014},
 {'make': 'ford', 'model': 'fusion', 'year': 2012},
 {'make': 'ford', 'model': 'fairlane', 'year': 1957},
 {'make': 'nissan', 'model': 'altima', 'year': 2012},
 {'make': 'nissan', 'model': 'altima', 'year': 2015},
 {'make': 'nissan', 'model': 'altima', 'year': 2014},
 {'make': 'nissan', 'model': 'altima', 'year': 2011},
 {'make': 'nissan', 'model': 'titan', 'year': 2006},
 {'make': 'chevy', 'model': 'silverado', 'year': 2007},
 {'make': 'chevy', 'model': 'silverado', 'year': 2004},
 {'make': 'chevy', 'model': 'silverado', 'year': 2005},
 {'make': 'chevy', 'model': 'silverado', 'year': 2008},
 {'make': 'chevy', 'model': 'silverado', 'year': 2018},
 {'make': 'chevy', 'model': 'camaro', 'year': 1997},
 {'make': 'chevy', 'model': 'tahoe', 'year': 2008},
 {'make': 'toyota', 'model': 'sienna', 'year': 2011},
 {'make': 'toyota', 'model': 'sienna', 'year': 2005},
 {'make': 'toyota', 'model': 'tundra', 'year': 2019},
 {'make': 'toyota', 'model': 'tundra', 'year': 2016},
 {'make': 'toyota', 'model': 'tundra', 'year': 2012},
 {'make': 'toyota', 'model': 'tundra', 'year': 2014},
 {'make': 'toyota', 'model': 'camry', 'year': 2007},
 {'make': 'toyota', 'model': 'rav4', 'year': 2020},
 {'make': 'honda', 'model': 'civic', 'year': 2007},
 {'make': 'honda', 'model': 'civic', 'year': 2009},
 {'make': 'honda', 'model': 'civic', 'year': 2006},
 {'make': 'honda', 'model': 'accord', 'year': 2010},
 {'make': 'honda', 'model': 'accord', 'year': 2006},
 {'make': 'honda', 'model': 'accord', 'year': 2003},
 {'make': 'honda', 'model': 'accord', 'year': 2009},
 {'make': 'honda', 'model': 'odyssey', 'year': 2005},
 {'make': 'chevrolet', 'model': 'silverado', 'year': 2013},
 {'make': 'chevrolet', 'model': 'silverado', 'year': 2015},
 {'make': 'jeep', 'model': 'wrangler', 'year': 2008},
 {'make': 'jeep', 'model': 'wrangler', 'year': 2004},
 {'make': 'jeep', 'model': 'wrangler', 'year': 2013},
 {'make': 'bmw', 'model': '328i', 'year': 2011},
 {'make': 'mazda', 'model': '3', 'year': 2006},
 {'make': 'hyundai', 'model': 'elantra', 'year': 2017},
 {'make': 'kia', 'model': 'optima', 'year': 2020},
 {'make': 'ram', 'model': '2500', 'year': 2015},
 {'make': 'ram', 'model': '1500', 'year': 2019},
 {'make': 'lincoln', 'model': 'town', 'year': 2001},
 {'make': 'tesla', 'model': 'model', 'year': 2021},
 {'make': 'fj', 'model': 'cruiser', 'year': 2012}]

In [8]:
def mk_mod_yr_df(item):
    return df[(df.make == item['make'])& (df.model == item['model'])&(df.year == item['year'])]
items = more_than_5_vehicles
mk_mod_yr_df(items[0])

,posting_url,post_title,price,year_make_model,year,make,model,trim
1,https://sanantonio.craigslist.org/cto/d/san-an...,2007 GMC Yukon,6000,2007 GMC Yukon,2007,gmc,yukon,NaN
1476,https://austin.craigslist.org/cto/d/austin-200...,2007 GMC Yukon XL Denali FOR SALE,10493,2007 GMC Yukon,2007,gmc,yukon,XL Denali FOR SALE
1758,https://houston.craigslist.org/cto/d/highlands...,2007 GMC Yukon XL 1500 SLT,6500,2007 GMC Yukon,2007,gmc,yukon,XL 1500 SLT
3166,https://houston.craigslist.org/cto/d/cypress-2...,2007 GMC YUKON SLT LEATHER NEW TIRES NICE,8000,2007 GMC YUKON,2007,gmc,yukon,SLT LEATHER NEW TIRES NICE
3880,https://houston.craigslist.org/cto/d/stafford-...,2007 GMC Yukon,8900,2007 GMC Yukon,2007,gmc,yukon,NaN
4432,https://houston.craigslist.org/cto/d/stafford-...,2007 GMC Yukon Denali AWD,8800,2007 GMC Yukon,2007,gmc,yukon,Denali AWD

In [9]:
for i in items:
    print(mk_mod_yr_df(i))

                                            posting_url  \
1     https://sanantonio.craigslist.org/cto/d/san-an...
1476  https://austin.craigslist.org/cto/d/austin-200...
1758  https://houston.craigslist.org/cto/d/highlands...
3166  https://houston.craigslist.org/cto/d/cypress-2...
3880  https://houston.craigslist.org/cto/d/stafford-...
4432  https://houston.craigslist.org/cto/d/stafford-...

                                     post_title  price year_make_model  year  \
1                                2007 GMC Yukon   6000  2007 GMC Yukon  2007
1476          2007 GMC Yukon XL Denali FOR SALE  10493  2007 GMC Yukon  2007
1758                 2007 GMC Yukon XL 1500 SLT   6500  2007 GMC Yukon  2007
3166  2007 GMC YUKON SLT LEATHER NEW TIRES NICE   8000  2007 GMC YUKON  2007
3880                             2007 GMC Yukon   8900  2007 GMC Yukon  2007
4432                  2007 GMC Yukon Denali AWD   8800  2007 GMC Yukon  2007

     make  model                         trim
1     gmc  yukon                          NaN
1476  gmc  yukon           XL Denali FOR SALE
1758  gmc  yukon                  XL 1500 SLT
3166  gmc  yukon   SLT LEATHER NEW TIRES NICE
3880  gmc  yukon                          NaN
4432  gmc  yukon                   Denali AWD
                                            posting_url  \
276   https://austin.craigslist.org/cto/d/burton-201...
277   https://austin.craigslist.org/cto/d/burton-201...
278   https://austin.craigslist.org/cto/d/burton-201...
825   https://collegestation.craigslist.org/cto/d/bu...
1324  https://austin.craigslist.org/cto/d/austin-201...
1385  https://houston.craigslist.org/cto/d/spring-20...
2315  https://austin.craigslist.org/cto/d/austin-201...
4505  https://austin.craigslist.org/cto/d/austin-201...
4880  https://houston.craigslist.org/cto/d/houston-2...
5249  https://houston.craigslist.org/cto/d/brenham-2...

                                         post_title  price year_make_model  \
276                          2013 GMC Yukon Xl SLT.  14795  2013 GMC Yukon
277                          2013 GMC Yukon Xl SLT.  14795  2013 GMC Yukon
278                          2013 GMC Yukon Xl SLT.  14795  2013 GMC Yukon
825                           2013 GMC Yukon Xl SLT  14975  2013 GMC Yukon
1324  2013 GMC Yukon 4X4 ***BEAUTIFUL FAMILY SUV***  14995  2013 GMC Yukon
1385                      2013 GMC YUKON DENALI 4x4   8900  2013 GMC YUKON
2315                              2013 GMC Yukon XL   7995  2013 GMC Yukon
4505                          2013 GMC Yukon Denali  18770  2013 GMC Yukon
4880                                 2013 GMC Yukon   8300  2013 GMC Yukon
5249                          2013 GMC Yukon Xl SLT  14975  2013 GMC Yukon

      year make  model                             trim
276   2013  gmc  yukon                          Xl SLT.
277   2013  gmc  yukon                          Xl SLT.
278   2013  gmc  yukon                          Xl SLT.
825   2013  gmc  yukon                           Xl SLT
1324  2013  gmc  yukon   4X4 ***BEAUTIFUL FAMILY SUV***
1385  2013  gmc  yukon                       DENALI 4x4
2315  2013  gmc  yukon                               XL
4505  2013  gmc  yukon                           Denali
4880  2013  gmc  yukon                              NaN
5249  2013  gmc  yukon                           Xl SLT
                                            posting_url  \
1195  https://houston.craigslist.org/cto/d/katy-2012...
1564  https://killeen.craigslist.org/cto/d/killeen-2...
3168  https://houston.craigslist.org/cto/d/houston-2...
4026  https://houston.craigslist.org/cto/d/houston-2...
4318  https://houston.craigslist.org/cto/d/houston-2...
5093  https://austin.craigslist.org/cto/d/leander-20...

                      post_title  price  year_make_model  year make   model  \
1195         2012 GMC Acadia SLT   6000  2012 GMC Acadia  2012  gmc  acadia
1564             2012 GMC Acadia   9500  2012 GMC Acadia  2012  gmc  acadia
3168  2012 GMC ACADIA DENALI AWD   8995  2012 GMC ACADIA  2012  gmc  acadia
4026      2012 GMC ACADIA DENALI  10995  2012 GMC ACADIA  2012  gmc  acadia
4318         2012 GMC ACADIA SLT   8995  2012 GMC ACADIA  2012  gmc  acadia
5093         2012 GMC Acadia SLE   3650  2012 GMC Acadia  2012  gmc  acadia

             trim
1195          SLT
1564          NaN
3168   DENALI AWD
4026       DENALI
4318          SLT
5093          SLE
                                            posting_url  \
776   https://houston.craigslist.org/cto/d/sugar-lan...
1127  https://sanantonio.craigslist.org/cto/d/san-an...
2418  https://sanantonio.craigslist.org/cto/d/san-an...
3158  https://houston.craigslist.org/cto/d/sugar-lan...
3414  https://sanantonio.craigslist.org/cto/d/san-an...
3473  https://sanantonio.craigslist.org/cto/d/san-an...
3648  https://houston.craigslist.org/cto/d/richmond-...
5049  https://sanantonio.craigslist.org/cto/d/san-an...

                                          post_title  price  \
776                            2014 dodge charger SE  15500
1127                           2014 Dodge Charger SE   1500
2418  2014 Dodge Charger SE willing to owner finance   1500
3158                           2014 dodge charger SE  15500
3414  2014 Dodge Charger SE willing to owner finance   1500
3473                              2014 Dodge Charger   7995
3648                          2014 Dodge charger R/T  12500
5049  2014 Dodge Charger SE willing to owner finance   1500

         year_make_model  year   make    model                          trim
776   2014 dodge charger  2014  dodge  charger                            SE
1127  2014 Dodge Charger  2014  dodge  charger                            SE
2418  2014 Dodge Charger  2014  dodge  charger   SE willing to owner finance
3158  2014 dodge charger  2014  dodge  charger                            SE
3414  2014 Dodge Charger  2014  dodge  charger   SE willing to owner finance
3473  2014 Dodge Charger  2014  dodge  charger                           NaN
3648  2014 Dodge charger  2014  dodge  charger                           R/T
5049  2014 Dodge Charger  2014  dodge  charger   SE willing to owner finance
                                            posting_url  \
17    https://sanantonio.craigslist.org/cto/d/new-br...
1045  https://sanantonio.craigslist.org/cto/d/san-an...
1842  https://houston.craigslist.org/cto/d/houston-2...
1985  https://sanantonio.craigslist.org/cto/d/seguin...
3559  https://sanantonio.craigslist.org/cto/d/pipe-c...
3608  https://houston.craigslist.org/cto/d/huffman-2...
3943  https://houston.craigslist.org/cto/d/angleton-...
5159  https://austin.craigslist.org/cto/d/driftwood-...

                                        post_title  price year_make_model  \
17                2001 Dodge Ram 2500 V10 8.0L 4x4   5800  2001 Dodge Ram
1045  2001 Dodge Ram 1500 5.2 Laramie V-8 Quad Cab   8000  2001 Dodge Ram
1842                                2001 Dodge Ram   2700  2001 Dodge Ram
1985             2001 dodge Ram 1500 (not running)   3500  2001 dodge Ram
3559                           2001 Dodge Ram 1500   4200  2001 Dodge Ram
3608                           2001 Dodge Ram 2500  18000  2001 Dodge Ram
3943                           2001 Dodge Ram 2500   3950  2001 Dodge Ram
5159          2001 Dodge Ram 1500 Farm/Ranch truck   3000  2001 Dodge Ram

      year   make model                            trim
17    2001  dodge   ram               2500 V10 8.0L 4x4
1045  2001  dodge   ram   1500 5.2 Laramie V-8 Quad Cab
1842  2001  dodge   ram                             NaN
1985  2001  dodge   ram              1500 (not running)
3559  2001  dodge   ram                            1500
3608  2001  dodge   ram                            2500
3943  2001  dodge   ram                            2500
5159  2001  dodge   ram           1500 Farm/Ranch truck
                                            posting_url  \
39    https://sanantonio.craigslist.org/cto/d/kerrvi...
119   https://corpuschristi.craigslist.org/cto/d/cor...
275   https://austin.craigslist.org/cto/d/spicewood-...
598   https://houston.craigslist.org/cto/d/houston-2...
4814  https://houston.craigslist.org/cto/d/houston-2...
5244  https://houston.craigslist.org/cto/d/spicewood...

                                             post_title  price  \
39                                  2002 Dodge Ram 2500   6000
119                             2002 Dodge Ram Van 2500   2500
275   2002 Dodge Ram 2500 - 6 Speed Manual - 4x4 - L...  35000
598                      2002 Dodge Ram 1500 Blue Title   1650
4814                                2002 Dodge Ram 1500   4500
5244  2002 Dodge Ram 2500 - 6 Speed Manual - 4x4 - L...  35000

     year_make_model  year   make model  \
39    2002 Dodge Ram  2002  dodge   ram
119   2002 Dodge Ram  2002  dodge   ram
275   2002 Dodge Ram  2002  dodge   ram
598   2002 Dodge Ram  2002  dodge   ram
4814  2002 Dodge Ram  2002  dodge   ram
5244  2002 Dodge Ram  2002  dodge   ram

                                          trim
39                                        2500
119                                   Van 2500
275    2500 - 6 Speed Manual - 4x4 - Low Miles
598                            1500 Blue Title
4814                                      1500
5244   2500 - 6 Speed Manual - 4x4 - Low Miles
                                            posting_url  \
109   https://corpuschristi.craigslist.org/cto/d/cor...
1457  https://houston.craigslist.org/cto/d/houston-2...
1921  https://houston.craigslist.org/cto/d/houston-2...
2830  https://houston.craigslist.org/cto/d/houston-2...
3955  https://houston.craigslist.org/cto/d/houston-2...
4171  https://austin.craigslist.org/cto/d/round-rock...
4280  https://houston.craigslist.org/cto/d/houston-2...

                                      post_title  price year_make_model  year  \
109               2015 Dodge Ram 4500 Wheel Lift  39900  2015 Dodge Ram  2015
1457  2015 Dodge Ram 1500 With Camper below book  19500  2015 Dodge Ram  2015
1921                     2015 Dodge Ram 3500 4x4  33900  2015 Dodge Ram  2015
2830                     2015 dodge ram big horn  19999  2015 dodge ram  2015
3955                     2015 Dodge Ram HEMI 4X4  15500  2015 Dodge Ram  2015
4171                         2015 dodge ram 1500  13999  2015 dodge ram  2015
4280                     2015 Dodge Ram for Sale  16500  2015 Dodge Ram  2015

       make model                          trim
109   dodge   ram               4500 Wheel Lift
1457  dodge   ram   1500 With Camper below book
1921  dodge   ram                      3500 4x4
2830  dodge   ram                      big horn
3955  dodge   ram                      HEMI 4X4
4171  dodge   ram                          1500
4280  dodge   ram                      for Sale
                                            posting_url  \
323   https://austin.craigslist.org/cto/d/austin-200...
1622  https://killeen.craigslist.org/cto/d/briggs-20...
2733  https://houston.craigslist.org/cto/d/houston-2...
3227  https://houston.craigslist.org/cto/d/tomball-2...
4215  https://austin.craigslist.org/cto/d/pflugervil...
4484  https://austin.craigslist.org/cto/d/austin-200...

                   post_title  price year_make_model  year   make model  \
323       2003 Dodge Ram 3500  18000  2003 Dodge Ram  2003  dodge   ram
1622      2003 Dodge Ram 2500  12000  2003 Dodge Ram  2003  dodge   ram
2733           2003 dodge ram   5500  2003 dodge ram  2003  dodge   ram
3227  2003 Dodge Ram 1500 SLT   5800  2003 Dodge Ram  2003  dodge   ram
4215      2003 Dodge Ram 1500   4500  2003 Dodge Ram  2003  dodge   ram
4484      2003 Dodge Ram 3500  18000  2003 Dodge Ram  2003  dodge   ram

           trim
323        3500
1622       2500
2733        NaN
3227   1500 SLT
4215       1500
4484       3500
                                            posting_url  \
555   https://houston.craigslist.org/cto/d/katy-2012...
1898  https://houston.craigslist.org/cto/d/houston-2...
1919  https://houston.craigslist.org/cto/d/houston-2...
2176  https://austin.craigslist.org/cto/d/georgetown...
2324  https://austin.craigslist.org/cto/d/austin-201...
2365  https://austin.craigslist.org/cto/d/austin-201...
2881  https://austin.craigslist.org/cto/d/austin-201...
4982  https://austin.craigslist.org/cto/d/austin-201...
5288  https://sanmarcos.craigslist.org/cto/d/luling-...
5527  https://houston.craigslist.org/cto/d/houston-2...

                                             post_title  price  \
555                                      2012 dodge ram  12800
1898                                2012 Dodge Ram 2500  11500
1919  2012 Dodge Ram 4x4 heavy duty 3500 diesel flatbed  24350
2176         2012 DODGE RAM C/V BASE 4dr CARGO MINI VAN   4408
2324         2012 Dodge Ram 1500 Crew Cab V8 148K Miles  13900
2365                                     2012 dodge ram   9800
2881               2012 Dodge Ram 3500 Longhorn Edition  28000
4982                                     2012 dodge ram   9800
5288                     2012 Dodge Ram 3500 diesel 4x4  36000
5527                           2012 Dodge Ram 1500 hemi   9995

     year_make_model  year   make model                                 trim
555   2012 dodge ram  2012  dodge   ram                                  NaN
1898  2012 Dodge Ram  2012  dodge   ram                                 2500
1919  2012 Dodge Ram  2012  dodge   ram   4x4 heavy duty 3500 diesel flatbed
2176  2012 DODGE RAM  2012  dodge   ram          C/V BASE 4dr CARGO MINI VAN
2324  2012 Dodge Ram  2012  dodge   ram          1500 Crew Cab V8 148K Miles
2365  2012 dodge ram  2012  dodge   ram                                  NaN
2881  2012 Dodge Ram  2012  dodge   ram                3500 Longhorn Edition
4982  2012 dodge ram  2012  dodge   ram                                  NaN
5288  2012 Dodge Ram  2012  dodge   ram                      3500 diesel 4x4
5527  2012 Dodge Ram  2012  dodge   ram                            1500 hemi
                                            posting_url  \
726   https://houston.craigslist.org/cto/d/humble-20...
755   https://houston.craigslist.org/cto/d/spring-20...
1528  https://austin.craigslist.org/cto/d/austin-200...
1616  https://killeen.craigslist.org/cto/d/kempner-2...
1942  https://sanantonio.craigslist.org/cto/d/bulver...
2241  https://austin.craigslist.org/cto/d/driftwood-...
2456  https://sanantonio.craigslist.org/cto/d/san-an...
2963  https://austin.craigslist.org/cto/d/pflugervil...

                                             post_title  price  \
726                                 2004 Dodge Ram 1500   2550
755                                 2004 Dodge Ram 1500   6300
1528  2004 Dodge Ram 2500SLT Diesel, 4X4, Quad-Cab, ...  25950
1616                                2004 Dodge ram 1500   4500
1942                       2004 Dodge Ram 1500 4x4 Hemi   2500
2241                       2004 Dodge Ram 1500 5.7 Hemi   9900
2456                                2004 Dodge Ram 1500   2500
2963                       2004 Dodge Ram 1500 quad cab   5200

     year_make_model  year   make model  \
726   2004 Dodge Ram  2004  dodge   ram
755   2004 Dodge Ram  2004  dodge   ram
1528  2004 Dodge Ram  2004  dodge   ram
1616  2004 Dodge ram  2004  dodge   ram
1942  2004 Dodge Ram  2004  dodge   ram
2241  2004 Dodge Ram  2004  dodge   ram
2456  2004 Dodge Ram  2004  dodge   ram
2963  2004 Dodge Ram  2004  dodge   ram

                                          trim
726                                       1500
755                                       1500
1528   2500SLT Diesel, 4X4, Quad-Cab, Long Bed
1616                                      1500
1942                             1500 4x4 Hemi
2241                             1500 5.7 Hemi
2456                                      1500
2963                             1500 quad cab
                                            posting_url  \
808   https://collegestation.craigslist.org/cto/d/ca...
874   https://houston.craigslist.org/cto/d/magnolia-...
1051  https://sanantonio.craigslist.org/cto/d/san-an...
1181  https://houston.craigslist.org/cto/d/friendswo...
1628  https://killeen.craigslist.org/cto/d/killeen-2...
2255  https://austin.craigslist.org/cto/d/austin-200...
4409  https://houston.craigslist.org/cto/d/livingsto...

                                          post_title  price year_make_model  \
808                 2006 Dodge ram 1500 4x4 Quad Cab  12000  2006 Dodge ram
874                              2006 Dodge Ram 1500   5200  2006 Dodge Ram
1051                             2006 Dodge Ram 1500   7300  2006 Dodge Ram
1181  2006 Dodge Ram 1500 SLT Clean CarFax One Owner   5800  2006 Dodge Ram
1628                             2006 Dodge Ram 1500   8000  2006 Dodge Ram
2255            2006 Dodge Ram 2500 SLT Big Horn 4x4  17500  2006 Dodge Ram
4409                  2006 dodge ram 3500 4x4,diesel  25000  2006 dodge ram

      year   make model                              trim
808   2006  dodge   ram                 1500 4x4 Quad Cab
874   2006  dodge   ram                              1500
1051  2006  dodge   ram                              1500
1181  2006  dodge   ram   1500 SLT Clean CarFax One Owner
1628  2006  dodge   ram                              1500
2255  2006  dodge   ram             2500 SLT Big Horn 4x4
4409  2006  dodge   ram                   3500 4x4,diesel
                                            posting_url  \
976   https://sanantonio.craigslist.org/cto/d/mc-que...
1280  https://austin.craigslist.org/cto/d/austin-200...
1538  https://austin.craigslist.org/cto/d/austin-200...
1607  https://killeen.craigslist.org/cto/d/temple-20...
1667  https://dallas.craigslist.org/ftw/cto/d/joshua...
3333  https://houston.craigslist.org/cto/d/huntsvill...
3500  https://sanantonio.craigslist.org/cto/d/mathis...
3516  https://sanantonio.craigslist.org/cto/d/schert...
4008  https://houston.craigslist.org/cto/d/houston-2...
4240  https://austin.craigslist.org/cto/d/austin-200...

                                             post_title  price  \
976                                 2007 Dodge Ram 2500  15000
1280  2007 Dodge Ram 2500 Cummins 5.9 89k Original M...  24500
1538  2007 Dodge Ram 2500 Cummins 5.9 89k Original M...  24000
1607                                2007 Dodge Ram 1500   7000
1667                                2007 Dodge Ram 1500   2800
3333                            2007 Dodge Ram 1500 4X4  12500
3500                   2007 Dodge Ram 3500 4X4 Big Horn  27995
3516                                2007 Dodge Ram 1500   7200
4008               2007 Dodge RAM 3500 DUALLY 5.7L HEMI   8495
4240  2007 Dodge Ram 2500 Cummins 5.9 89k Original M...  24000

     year_make_model  year   make model                                  trim
976   2007 Dodge Ram  2007  dodge   ram                                  2500
1280  2007 Dodge Ram  2007  dodge   ram   2500 Cummins 5.9 89k Original Miles
1538  2007 Dodge Ram  2007  dodge   ram   2500 Cummins 5.9 89k Original Miles
1607  2007 Dodge Ram  2007  dodge   ram                                  1500
1667  2007 Dodge Ram  2007  dodge   ram                                  1500
3333  2007 Dodge Ram  2007  dodge   ram                              1500 4X4
3500  2007 Dodge Ram  2007  dodge   ram                     3500 4X4 Big Horn
3516  2007 Dodge Ram  2007  dodge   ram                                  1500
4008  2007 Dodge RAM  2007  dodge   ram                 3500 DUALLY 5.7L HEMI
4240  2007 Dodge Ram  2007  dodge   ram   2500 Cummins 5.9 89k Original Miles
                                            posting_url  \
19    https://sanantonio.craigslist.org/cto/d/flores...
587   https://houston.craigslist.org/cto/d/houston-2...
1478  https://austin.craigslist.org/cto/d/austin-200...
1708  https://dallas.craigslist.org/dal/cto/d/frisco...
3154  https://houston.craigslist.org/cto/d/katy-2006...
3971  https://houston.craigslist.org/cto/d/spring-20...
4553  https://houston.craigslist.org/cto/d/houston-2...

                                             post_title  price  \

4581  28500  2020 toyota rav4  2020  toyota  rav4   XLE
                                            posting_url  \
263   https://austin.craigslist.org/cto/d/austin-200...
442   https://houston.craigslist.org/cto/d/houston-2...
1313  https://austin.craigslist.org/cto/d/austin-200...
1485  https://austin.craigslist.org/cto/d/austin-200...
2062  https://houston.craigslist.org/cto/d/conroe-20...
3378  https://houston.craigslist.org/cto/d/houston-2...
4229  https://austin.craigslist.org/cto/d/austin-200...

                                             post_title  price  \
263   2007 Honda Civic LX 181K - GAS SAVER - Only On...   5499
442                        2007 Honda Civic EX like new   8000
1313  2007 Honda Civic LX 181K - GAS SAVER - Only On...   5499
1485  2007 Honda Civic LX 181K - GAS SAVER - Only On...   5499
2062                                   2007 Honda Civic   3495
3378                       2007 Honda Civic EX like new   8000
4229  2007 Honda Civic LX 181K - GAS SAVER - Only On...   5499

       year_make_model  year   make  model  \
263   2007 Honda Civic  2007  honda  civic
442   2007 Honda Civic  2007  honda  civic
1313  2007 Honda Civic  2007  honda  civic
1485  2007 Honda Civic  2007  honda  civic
2062  2007 Honda Civic  2007  honda  civic
3378  2007 Honda Civic  2007  honda  civic
4229  2007 Honda Civic  2007  honda  civic

                                                   trim
263    LX 181K - GAS SAVER - Only One Owner - CLEAN ...
442                                         EX like new
1313   LX 181K - GAS SAVER - Only One Owner - CLEAN ...
1485   LX 181K - GAS SAVER - Only One Owner - CLEAN ...
2062                                                NaN
3378                                        EX like new
4229   LX 181K - GAS SAVER - Only One Owner - CLEAN ...
                                            posting_url  \
719   https://houston.craigslist.org/cto/d/houston-2...
749   https://houston.craigslist.org/cto/d/katy-2009...
900   https://houston.craigslist.org/cto/d/spring-20...
1337  https://austin.craigslist.org/cto/d/kyle-2009-...
1438  https://houston.craigslist.org/cto/d/humble-20...
2260  https://austin.craigslist.org/cto/d/austin-200...
2612  https://houston.craigslist.org/cto/d/katy-2009...
2967  https://austin.craigslist.org/cto/d/austin-200...
2994  https://austin.craigslist.org/cto/d/austin-200...
4554  https://houston.craigslist.org/cto/d/houston-2...
4619  https://houston.craigslist.org/cto/d/humble-20...

                          post_title  price   year_make_model  year   make  \
719              2009 Honda Civic EX   6800  2009 Honda Civic  2009  honda
749                 2009 Honda Civic   4900  2009 Honda Civic  2009  honda
900        2009 Honda Civic EX Clean  12000  2009 Honda Civic  2009  honda
1337           2009 Honda Civic LX-S   6500  2009 Honda Civic  2009  honda
1438  2009 Honda Civic Ex lousiana t   4500  2009 Honda Civic  2009  honda
2260     2009 Honda Civic 113k Miles   7800  2009 Honda Civic  2009  honda
2612                2009 Honda Civic   4900  2009 Honda Civic  2009  honda
2967                2009 Honda Civic   2500  2009 Honda Civic  2009  honda
2994     2009 Honda Civic 113k Miles   7800  2009 Honda Civic  2009  honda
4554             2009 HONDA CIVIC LX   2700  2009 HONDA CIVIC  2009  honda
4619  2009 Honda Civic Ex lousiana t   4500  2009 Honda Civic  2009  honda

      model            trim
719   civic              EX
749   civic             NaN
900   civic        EX Clean
1337  civic            LX-S
1438  civic   Ex lousiana t
2260  civic      113k Miles
2612  civic             NaN
2967  civic             NaN
2994  civic      113k Miles
4554  civic              LX
4619  civic   Ex lousiana t
                                            posting_url  \
995   https://sanantonio.craigslist.org/cto/d/san-an...
1040  https://sanantonio.craigslist.org/cto/d/san-an...
1058  https://sanantonio.craigslist.org/cto/d/san-an...
1165  https://houston.craigslist.org/cto/d/houston-2...
2002  https://sanantonio.craigslist.org/cto/d/san-an...
2960  https://austin.craigslist.org/cto/d/austin-200...
3461  https://sanantonio.craigslist.org/cto/d/san-an...

                                  post_title  price   year_make_model  year  \
995                         2006 Honda Civic   4800  2006 Honda Civic  2006
1040                   2006 Honda Civic 2 DR   3200  2006 Honda Civic  2006
1058                        2006 Honda Civic   4700  2006 Honda Civic  2006
1165                        2006 Honda Civic   2000  2006 Honda Civic  2006
2002                        2006 Honda Civic   4800  2006 Honda Civic  2006
2960  2006 Honda Civic Hybrid -Price Reduced   3100  2006 Honda Civic  2006
3461                        2006 Honda Civic   4700  2006 Honda Civic  2006

       make  model                    trim
995   honda  civic                     NaN
1040  honda  civic                    2 DR
1058  honda  civic                     NaN
1165  honda  civic                     NaN
2002  honda  civic                     NaN
2960  honda  civic   Hybrid -Price Reduced
3461  honda  civic                     NaN
                                            posting_url  \
360   https://houston.craigslist.org/cto/d/pasadena-...
820   https://collegestation.craigslist.org/cto/d/co...
1498  https://austin.craigslist.org/cto/d/austin-201...
1505  https://austin.craigslist.org/cto/d/austin-201...
2656  https://houston.craigslist.org/cto/d/houston-2...
2749  https://houston.craigslist.org/cto/d/spring-20...
2769  https://houston.craigslist.org/cto/d/houston-2...
3003  https://austin.craigslist.org/cto/d/austin-201...
3189  https://houston.craigslist.org/cto/d/conroe-be...
4561  https://houston.craigslist.org/cto/d/sugar-lan...
5173  https://austin.craigslist.org/cto/d/austin-201...

                                             post_title  price  \
360                                   2010 Honda Accord   4000
820                                2010 HONDA ACCORD EX   9800
1498                       2010 Honda Accord Lx 1 owner  12000
1505  2010 Honda Accord EXL V6 172K - SUNROOF - Heat...   6999
2656                 2010 HONDA ACCORD , EX-L 4CYLINDER   8495
2749                               2010 Honda Accord LX   8000
2769                 2010 HONDA ACCORD , EX-L 4CYLINDER   7995
3003  2010 Honda Accord EXL V6 172K - SUNROOF - Heat...   6999
3189                Beautiful 2010 Honda Accord EX-L V6   5995
4561                         2010 HONDA ACCORD coupe LX   2500
5173  2010 Honda Accord EXL V6 172K - SUNROOF - Heat...   6999

        year_make_model  year   make   model  \
360   2010 Honda Accord  2010  honda  accord
820   2010 HONDA ACCORD  2010  honda  accord
1498  2010 Honda Accord  2010  honda  accord
1505  2010 Honda Accord  2010  honda  accord
2656  2010 HONDA ACCORD  2010  honda  accord
2749  2010 Honda Accord  2010  honda  accord
2769  2010 HONDA ACCORD  2010  honda  accord
3003  2010 Honda Accord  2010  honda  accord
3189  2010 Honda Accord  2010  honda  accord
4561  2010 HONDA ACCORD  2010  honda  accord
5173  2010 Honda Accord  2010  honda  accord

                                                   trim
360                                                 NaN
820                                                  EX
1498                                         Lx 1 owner
1505   EXL V6 172K - SUNROOF - Heated Seats - BLUETOOTH
2656                                   , EX-L 4CYLINDER
2749                                                 LX
2769                                   , EX-L 4CYLINDER
3003   EXL V6 172K - SUNROOF - Heated Seats - BLUETOOTH
3189                                            EX-L V6
4561                                           coupe LX
5173   EXL V6 172K - SUNROOF - Heated Seats - BLUETOOTH
                                            posting_url  \
1164  https://houston.craigslist.org/cto/d/katy-2006...
1351  https://austin.craigslist.org/cto/d/austin-200...
1386  https://houston.craigslist.org/cto/d/houston-2...
2379  https://austin.craigslist.org/cto/d/leander-20...
3241  https://austin.craigslist.org/cto/d/austin-200...
4541  https://houston.craigslist.org/cto/d/katy-2006...
5411  https://sanantonio.craigslist.org/cto/d/san-an...

                                             post_title  price  \
1164                   2006 Honda Accord LX Sedan 4D V6   3750
1351                                  2006 Honda Accord   5000
1386                               2006 Honda Accord V6   2650
2379       2006 Honda Accord runs excellent!! Gas saver   4400
3241     2006 Honda Accord V6 excellent condition $6500   6500
4541                   2006 Honda Accord LX Sedan 4D V6   3750
5411  2006 HONDA ACCORD EXL 135,211 MILES NEW TIRES ...   4999

        year_make_model  year   make   model  \
1164  2006 Honda Accord  2006  honda  accord
1351  2006 Honda Accord  2006  honda  accord
1386  2006 Honda Accord  2006  honda  accord
2379  2006 Honda Accord  2006  honda  accord
3241  2006 Honda Accord  2006  honda  accord
4541  2006 Honda Accord  2006  honda  accord
5411  2006 HONDA ACCORD  2006  honda  accord

                                                   trim
1164                                     LX Sedan 4D V6
1351                                                NaN
1386                                                 V6
2379                         runs excellent!! Gas saver
3241                       V6 excellent condition $6500
4541                                     LX Sedan 4D V6
5411   EXL 135,211 MILES NEW TIRES LEATHER SUNROOF C...
                                            posting_url  \
1268  https://austin.craigslist.org/cto/d/georgetown...
1303  https://austin.craigslist.org/cto/d/austin-200...
1375  https://austin.craigslist.org/cto/d/leander-20...
1549  https://austin.craigslist.org/cto/d/austin-200...
2266  https://austin.craigslist.org/cto/d/austin-200...
3156  https://houston.craigslist.org/cto/d/friendswo...
5267  https://sanmarcos.craigslist.org/cto/d/san-mar...

                                             post_title  price  \
1268                                  2003 Honda Accord   6700
1303  2003 Honda Accord LX 162K - CLEAN CARFAX - Gre...   4999
1375                               2003 Honda Accord V6   6000
1549  2003 Honda Accord LX 162K - CLEAN CARFAX - Gre...   4999
2266  2003 Honda Accord LX 162K - CLEAN CARFAX - Gre...   4999
3156                          2003 Honda Accord 3.0L V6   2500
5267             2003 Honda Accord Sedan 170K Low Miles   2850

        year_make_model  year   make   model  \
1268  2003 Honda Accord  2003  honda  accord
1303  2003 Honda Accord  2003  honda  accord
1375  2003 Honda Accord  2003  honda  accord
1549  2003 Honda Accord  2003  honda  accord
2266  2003 Honda Accord  2003  honda  accord
3156  2003 Honda Accord  2003  honda  accord
5267  2003 Honda Accord  2003  honda  accord

                                                   trim
1268                                                NaN
1303   LX 162K - CLEAN CARFAX - Great on Gas - AUX PORT
1375                                                 V6
1549   LX 162K - CLEAN CARFAX - Great on Gas - AUX PORT
2266   LX 162K - CLEAN CARFAX - Great on Gas - AUX PORT
3156                                            3.0L V6
5267                               Sedan 170K Low Miles
                                            posting_url  \
1893  https://houston.craigslist.org/cto/d/houston-2...
2149  https://austin.craigslist.org/cto/d/austin-200...
2679  https://houston.craigslist.org/cto/d/houston-2...
3089  https://sanantonio.craigslist.org/cto/d/san-an...
3556  https://sanantonio.craigslist.org/cto/d/san-an...
4592  https://houston.craigslist.org/cto/d/houston-2...
4685  https://houston.craigslist.org/cto/d/houston-2...
4812  https://houston.craigslist.org/cto/d/houston-2...
5073  https://sanantonio.craigslist.org/cto/d/la-ver...

                   post_title  price    year_make_model  year   make   model  \
1893        2009 Honda Accord   5800  2009 Honda Accord  2009  honda  accord
2149        2009 Honda Accord   8000  2009 Honda Accord  2009  honda  accord
2679  2009 Honda Accord Coupe   6495  2009 Honda Accord  2009  honda  accord
3089     2009 Honda Accord Ex   7950  2009 Honda Accord  2009  honda  accord
3556     2009 Honda accord Ex   7499  2009 Honda accord  2009  honda  accord
4592  2009 Honda Accord Coupe   6295  2009 Honda Accord  2009  honda  accord
4685  2009 Honda Accord Coupe   6495  2009 Honda Accord  2009  honda  accord
4812  2009 Honda Accord Coupe   6495  2009 Honda Accord  2009  honda  accord
5073        2009 Honda Accord   6000  2009 Honda Accord  2009  honda  accord

        trim
1893     NaN
2149     NaN
2679   Coupe
3089      Ex
3556      Ex
4592   Coupe
4685   Coupe
4812   Coupe
5073     NaN
                                            posting_url  \
100   https://corpuschristi.craigslist.org/cto/d/aus...
264   https://austin.craigslist.org/cto/d/austin-200...
716   https://houston.craigslist.org/cto/d/richmond-...
1081  https://sanantonio.craigslist.org/cto/d/austin...
1495  https://austin.craigslist.org/cto/d/austin-200...
2261  https://austin.craigslist.org/cto/d/austin-200...
2479  https://victoriatx.craigslist.org/cto/d/austin...
3057  https://austin.craigslist.org/cto/d/austin-200...
4213  https://austin.craigslist.org/cto/d/austin-200...
5115  https://austin.craigslist.org/cto/d/austin-200...

                                             post_title  price  \
100                                  2005 Honda Odyssey   3399
264                                  2005 Honda Odyssey   4995
716                                  2005 Honda Odyssey   4500
1081                                 2005 Honda Odyssey   3399
1495  2005 Honda Odyssey EXL 155K - SEATS 8 -Leather...   4999
2261                                 2005 Honda Odyssey   3399
2479                                 2005 Honda Odyssey   3399
3057  2005 Honda Odyssey EXL 155K - SEATS 8 -Leather...   4999
4213  2005 Honda Odyssey EXL 155K - SEATS 8 -Leather...   4999
5115  2005 Honda Odyssey EXL 155K - SEATS 8 -Leather...   4999

         year_make_model  year   make    model  \
100   2005 Honda Odyssey  2005  honda  odyssey
264   2005 Honda Odyssey  2005  honda  odyssey
716   2005 Honda Odyssey  2005  honda  odyssey
1081  2005 Honda Odyssey  2005  honda  odyssey
1495  2005 Honda Odyssey  2005  honda  odyssey
2261  2005 Honda Odyssey  2005  honda  odyssey
2479  2005 Honda Odyssey  2005  honda  odyssey
3057  2005 Honda Odyssey  2005  honda  odyssey
4213  2005 Honda Odyssey  2005  honda  odyssey
5115  2005 Honda Odyssey  2005  honda  odyssey

                                                   trim
100                                                 NaN
264                                                 NaN
716                                                 NaN
1081                                                NaN
1495   EXL 155K - SEATS 8 -Leather Interior- CLEAN C...
2261                                                NaN
2479                                                NaN
3057   EXL 155K - SEATS 8 -Leather Interior- CLEAN C...
4213   EXL 155K - SEATS 8 -Leather Interior- CLEAN C...
5115   EXL 155K - SEATS 8 -Leather Interior- CLEAN C...
                                            posting_url  \
912   https://austin.craigslist.org/cto/d/canyon-lak...
1052  https://sanantonio.craigslist.org/cto/d/canyon...
2834  https://houston.craigslist.org/cto/d/houston-2...
3048  https://austin.craigslist.org/cto/d/canyon-lak...
3574  https://sanantonio.craigslist.org/cto/d/canyon...
5561  https://houston.craigslist.org/cto/d/houston-2...

                                             post_title  price  \
912                 2013 Chevrolet Silverado 2500HD 4X4  15500
1052                2013 Chevrolet Silverado 2500HD 4X4  15500
2834  2013 Chevrolet Silverado 1500 LT - 5.3L - 110K...  15900
3048                2013 Chevrolet Silverado 2500HD 4X4  15500
3574                2013 Chevrolet Silverado 2500HD 4X4  15500
5561       2013 Chevrolet Silverado 2500 HD 4X4 6.0L V8  15500

               year_make_model  year       make      model  \
912   2013 Chevrolet Silverado  2013  chevrolet  silverado
1052  2013 Chevrolet Silverado  2013  chevrolet  silverado
2834  2013 Chevrolet Silverado  2013  chevrolet  silverado
3048  2013 Chevrolet Silverado  2013  chevrolet  silverado
3574  2013 Chevrolet Silverado  2013  chevrolet  silverado
5561  2013 Chevrolet Silverado  2013  chevrolet  silverado

                                               trim
912                                      2500HD 4X4
1052                                     2500HD 4X4
2834   1500 LT - 5.3L - 110K MILES - SALVAGE TITLE-
3048                                     2500HD 4X4
3574                                     2500HD 4X4
5561                            2500 HD 4X4 6.0L V8
                                            posting_url  \
2728  https://houston.craigslist.org/cto/d/humble-20...
2856  https://houston.craigslist.org/cto/d/new-caney...
3004  https://austin.craigslist.org/cto/d/cedar-park...
3384  https://houston.craigslist.org/cto/d/houston-2...
4446  https://houston.craigslist.org/cto/d/houston-2...
4728  https://austin.craigslist.org/cto/d/azle-2015-...

                                             post_title  price  \
2728                2015 CHEVROLET SILVERADO 2500HD LTZ  37000
2856  2015 Chevrolet Silverado 2500HD LT 4x4 4dr Dou...  19980
3004  2015 Chevrolet Silverado 3500HD Crew Cab Work ...  24800
3384  2015 Chevrolet Silverado 3500HD CrewCab Dually...  20995
4446      2015 CHEVROLET SILVERADO 2500 V8 6.0 GASOLINA  16800
4728  2015 Chevrolet Silverado SSV Sheriff's truck, ...  18500

               year_make_model  year       make      model  \
2728  2015 CHEVROLET SILVERADO  2015  chevrolet  silverado
2856  2015 Chevrolet Silverado  2015  chevrolet  silverado
3004  2015 Chevrolet Silverado  2015  chevrolet  silverado
3384  2015 Chevrolet Silverado  2015  chevrolet  silverado
4446  2015 CHEVROLET SILVERADO  2015  chevrolet  silverado
4728  2015 Chevrolet Silverado  2015  chevrolet  silverado

                                  trim
2728                        2500HD LTZ
2856   2500HD LT 4x4 4dr Double Cab LB
3004        3500HD Crew Cab Work Truck
3384     3500HD CrewCab Dually Duramax
4446              2500 V8 6.0 GASOLINA
4728     SSV Sheriff's truck, crew cab
                                            posting_url  \
429   https://houston.craigslist.org/cto/d/hallettsv...
1090  https://sanantonio.craigslist.org/cto/d/canyon...
2240  https://austin.craigslist.org/cto/d/pflugervil...
2283  https://austin.craigslist.org/cto/d/canyon-lak...
2491  https://victoriatx.craigslist.org/cto/d/hallet...
5059  https://sanantonio.craigslist.org/cto/d/hallet...
5480  https://sanantonio.craigslist.org/cto/d/san-an...

                          post_title  price     year_make_model  year  make  \
429    2008 Jeep Wrangler- Mail Jeep  12000  2008 Jeep Wrangler  2008  jeep
1090  2008 Jeep Wrangler Unlimited X  15000  2008 Jeep Wrangler  2008  jeep
2240   2008 Jeep Wrangler 2-door 4WD  14750  2008 Jeep Wrangler  2008  jeep
2283  2008 Jeep Wrangler Unlimited X  15000  2008 Jeep Wrangler  2008  jeep
2491   2008 Jeep Wrangler- Mail Jeep  12000  2008 Jeep Wrangler  2008  jeep
5059   2008 Jeep Wrangler- Mail Jeep  12000  2008 Jeep Wrangler  2008  jeep
5480              2008 Jeep Wrangler  17000  2008 Jeep Wrangler  2008  jeep

         model          trim
429   wrangler   - Mail Jeep
1090  wrangler   Unlimited X
2240  wrangler    2-door 4WD
2283  wrangler   Unlimited X
2491  wrangler   - Mail Jeep
5059  wrangler   - Mail Jeep
5480  wrangler           NaN
                                            posting_url  \
684   https://houston.craigslist.org/cto/d/houston-2...
1018  https://sanantonio.craigslist.org/cto/d/san-an...
1105  https://sanantonio.craigslist.org/cto/d/canyon...
1121  https://sanantonio.craigslist.org/cto/d/boerne...

In [11]:
mk_mod_yr_df(items[0]).iloc[0].posting_url

'https://sanantonio.craigslist.org/cto/d/san-antonio-2007-gmc-yukon/7519832898.html'

In [23]:
yr_mk_model_dict = {}

for i in items:
    yr_mk_model_dict[f'{i["year"]}_{i["make"]}_{i["model"]}'] = i
    
yr_mk_model_dict['2007_gmc_yukon']

{'make': 'gmc', 'model': 'yukon', 'year': 2007}

In [33]:
def open_listing(yr_mk_md, location):
    webbrowser.open_new_tab(mk_mod_yr_df(yr_mk_model_dict[yr_mk_md]).iloc[location-1].posting_url)

In [34]:
open_listing('2007_gmc_yukon', 0)

In [40]:
def car_df(yr_mk_md):
    return mk_mod_yr_df(yr_mk_model_dict[yr_mk_md]).reset_index()

car_df('2007_gmc_yukon')

,index,posting_url,post_title,price,year_make_model,year,make,model,trim
0,1,https://sanantonio.craigslist.org/cto/d/san-an...,2007 GMC Yukon,6000,2007 GMC Yukon,2007,gmc,yukon,NaN
1,1476,https://austin.craigslist.org/cto/d/austin-200...,2007 GMC Yukon XL Denali FOR SALE,10493,2007 GMC Yukon,2007,gmc,yukon,XL Denali FOR SALE
2,1758,https://houston.craigslist.org/cto/d/highlands...,2007 GMC Yukon XL 1500 SLT,6500,2007 GMC Yukon,2007,gmc,yukon,XL 1500 SLT
3,3166,https://houston.craigslist.org/cto/d/cypress-2...,2007 GMC YUKON SLT LEATHER NEW TIRES NICE,8000,2007 GMC YUKON,2007,gmc,yukon,SLT LEATHER NEW TIRES NICE
4,3880,https://houston.craigslist.org/cto/d/stafford-...,2007 GMC Yukon,8900,2007 GMC Yukon,2007,gmc,yukon,NaN
5,4432,https://houston.craigslist.org/cto/d/stafford-...,2007 GMC Yukon Denali AWD,8800,2007 GMC Yukon,2007,gmc,yukon,Denali AWD

In [36]:
yr_mk_model_dict.keys()

dict_keys(['2007_gmc_yukon', '2013_gmc_yukon', '2012_gmc_acadia', '2014_dodge_charger', '2001_dodge_ram', '2002_dodge_ram', '2015_dodge_ram', '2003_dodge_ram', '2012_dodge_ram', '2004_dodge_ram', '2006_dodge_ram', '2007_dodge_ram', '2006_ford_f150', '2008_ford_f150', '2011_ford_f150', '2014_ford_focus', '2013_ford_focus', '2010_ford_f', '2011_ford_f', '2014_ford_f', '2012_ford_f', '2001_ford_f', '2005_ford_f', '2006_ford_f', '2002_ford_f', '2007_ford_f', '1993_ford_f', '2013_ford_f', '2008_ford_f', '2003_ford_f', '1999_ford_f', '2010_ford_expedition', '2012_ford_expedition', '2014_ford_fusion', '2012_ford_fusion', '1957_ford_fairlane', '2012_nissan_altima', '2015_nissan_altima', '2014_nissan_altima', '2011_nissan_altima', '2006_nissan_titan', '2007_chevy_silverado', '2004_chevy_silverado', '2005_chevy_silverado', '2008_chevy_silverado', '2018_chevy_silverado', '1997_chevy_camaro', '2008_chevy_tahoe', '2011_toyota_sienna', '2005_toyota_sienna', '2019_toyota_tundra', '2016_toyota_tundra', '2012_toyota_tundra', '2014_toyota_tundra', '2007_toyota_camry', '2020_toyota_rav4', '2007_honda_civic', '2009_honda_civic', '2006_honda_civic', '2010_honda_accord', '2006_honda_accord', '2003_honda_accord', '2009_honda_accord', '2005_honda_odyssey', '2013_chevrolet_silverado', '2015_chevrolet_silverado', '2008_jeep_wrangler', '2004_jeep_wrangler', '2013_jeep_wrangler', '2011_bmw_328i', '2006_mazda_3', '2017_hyundai_elantra', '2020_kia_optima', '2015_ram_2500', '2019_ram_1500', '2001_lincoln_town', '2021_tesla_model', '2012_fj_cruiser'])

In [37]:
car_df('2014_dodge_charger')

,posting_url,post_title,price,year_make_model,year,make,model,trim
776,https://houston.craigslist.org/cto/d/sugar-lan...,2014 dodge charger SE,15500,2014 dodge charger,2014,dodge,charger,SE
1127,https://sanantonio.craigslist.org/cto/d/san-an...,2014 Dodge Charger SE,1500,2014 Dodge Charger,2014,dodge,charger,SE
2418,https://sanantonio.craigslist.org/cto/d/san-an...,2014 Dodge Charger SE willing to owner finance,1500,2014 Dodge Charger,2014,dodge,charger,SE willing to owner finance
3158,https://houston.craigslist.org/cto/d/sugar-lan...,2014 dodge charger SE,15500,2014 dodge charger,2014,dodge,charger,SE
3414,https://sanantonio.craigslist.org/cto/d/san-an...,2014 Dodge Charger SE willing to owner finance,1500,2014 Dodge Charger,2014,dodge,charger,SE willing to owner finance
3473,https://sanantonio.craigslist.org/cto/d/san-an...,2014 Dodge Charger,7995,2014 Dodge Charger,2014,dodge,charger,NaN
3648,https://houston.craigslist.org/cto/d/richmond-...,2014 Dodge charger R/T,12500,2014 Dodge charger,2014,dodge,charger,R/T
5049,https://sanantonio.craigslist.org/cto/d/san-an...,2014 Dodge Charger SE willing to owner finance,1500,2014 Dodge Charger,2014,dodge,charger,SE willing to owner finance

In [39]:
open_listing('2014_dodge_charger', 3)